* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #000000;
}

body {
    margin-top: 50px;
    background-image: linear-gradient(to right bottom, #ffffff, #fff5ff, #ffe8e9, #ffe8b2, #fffa8b);
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 1.5rem;
    color: #ffffff;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}


/* มีปัญหา */

.styled-input label {
    color: rgb(255, 255, 255);
    padding: 11.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

input[type=checkbox]+label {
    color: rgb(255, 255, 255);
    font-style: italic;
}

input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #ffa31a;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 #ffa31a, 0 2px 10px 0 #ffa31a;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 #fff, 0 1px 1px 0 #fff;
}

@media (max-width: 768px) {
    .submit-btn {
        width: 100%;
        float: none;
        text-align: center;
    }
}

.cancel-btn {
    padding: 7px 35px;
    border-radius: 60px;
    background-color: BBBDBB;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 #000, 0 2px 10px 0 #000;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.cancel-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 #000, 0 1px 1px 0 #000;
}

@media (max-width: 768px) {
    .cancel-btn {
        width: 100%;
        float: none;
        text-align: center;
    }
}

::placeholder {
    color: #ffa31a;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffa31a;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ffa31a;
}